<a href="https://colab.research.google.com/github/Lyeon1/study/blob/master/Pandas_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC_%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.read_csv("concat_1.csv")

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [4]:
pd.read_csv("gapminder.tsv",sep="\t")

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [19]:
a=open("test.txt","wt") # write text
a.write('hello')
a.close() # 파일을 저장하고 끔

In [21]:
a=open('test.txt','rt') # read text
b=a.read()
b

'hello'

In [22]:
a=open("test.txt","at") # attach text
a.write(' 123')
a.close() # 파일을 저장하고 끔

In [23]:
a=open('test.txt','rt')
b=a.read()
b

'hello 123'

In [24]:
A={"a":1,"b":2,"c":3}
pd.Series(A)

a    1
b    2
c    3
dtype: int64

In [28]:
B=["a","b","c"]
pd.Series(B)

0    a
1    b
2    c
dtype: object

In [33]:
B=["a","b","c"]
C=pd.Series(B,index=["가","나","다"])
print(C)
type(C)

가    a
나    b
다    c
dtype: object

pandas.core.series.Series

In [48]:
B=["a","b","c"]
C=pd.Series(B,index=["가","나","다"])
C.index
print(C.index)
print(C.values)

Index(['가', '나', '다'], dtype='object')
['a' 'b' 'c']

In [111]:
A={"한글":['가','나','다'],"영어":['a','b','c'],"숫자":[1,2,3]}
B=pd.DataFrame(A)
print(A)
print()
print(B)
print(B.index)

{'한글': ['가', '나', '다'], '영어': ['a', 'b', 'c'], '숫자': [1, 2, 3]}

  한글 영어  숫자
0  가  a   1
1  나  b   2
2  다  c   3
RangeIndex(start=0, stop=3, step=1)

In [66]:
A={"한글":['가','나','다'],"영어":['a','b','c'],"숫자":[1,2,3]}
B=pd.DataFrame(A,index=['1행','2행','3행'])
print(B)

   한글 영어  숫자
1행  가  a   1
2행  나  b   2
3행  다  c   3

In [67]:
A={"한글":['가','나','다'],"영어":['a','b','c'],"숫자":[1,2,3]}
B=pd.DataFrame(A,index=['1행','2행','3행'],columns=['영어','숫자','한글'])
print(B)

   영어  숫자 한글
1행  a   1  가
2행  b   2  나
3행  c   3  다

In [109]:
A={"한글":['가','나','다'],"영어":['a','b','c'],"숫자":[1,2,3]}
B=pd.DataFrame(A,index=['1행','2행',"3행"],columns=['영어','숫자','1st','2nd'])
print(B)

   영어  숫자  1st  2nd
1행  a   1  NaN  NaN
2행  b   2  NaN  NaN
3행  c   3  NaN  NaN

In [100]:
A=[[1,"1st","일"],[2,'2nd',"이"],[3,'3rd','삼']]
B=pd.DataFrame(A,index=['1행','2행','3행'],columns=['숫자','순서','한글'])
print(B.index)
print(B.columns)

Index(['1행', '2행', '3행'], dtype='object')
Index(['숫자', '순서', '한글'], dtype='object')

In [112]:
A={"한글":['가','나','다'],"영어":['a','b','c'],"숫자":[1,2,3]}
B=pd.DataFrame(A)
print(B.index)

RangeIndex(start=0, stop=3, step=1)